<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Fontawesone -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

     <!--  style css -->
     <link rel="stylesheet" href="style.css">

    <title>Formulaire Contact</title>
    </head>

    </head>
    <body>
            <form id="contact" method="POST" action="./../controler/contact.php">
                    <fieldset><legend>Vos coordonnées</legend>
                        <p><label for="nom">Nom :</label><input type="text" id="nom" name="nom" /></p>
                        <p><label for="email">Email :</label><input type="text" id="email" name="email" /></p>
                    </fieldset>
                 
                    <fieldset><legend>Votre message :</legend>
                        <p><label for="objet">Objet :</label><input type="text" id="objet" name="objet" /></p>
                        <p><label for="message">Message :</label><textarea id="message" name="message" cols="30" rows="8"></textarea></p>
                    </fieldset>
                 
                    <div style="text-align:center;"><input type="submit" name="envoi" value="Envoyer le formulaire !" /></div>
                </form>
            
    </body>
  
    
</html>
    